main {
  margin-bottom: 40px;
  overflow-y: scroll;
}
.product-details-area {
  min-height: 400px;
}
.product-image {
  height: 400px;
  overflow: hidden;
}
.product-image img {
  object-fit: cover;
  max-width: 100%;
  border-radius: 10px;
  height: 100%;
}
.product-info {
  background: rgba(236, 193, 250, 0.083);
  padding: 10px 20px;
}
.product-info p {
  font-size: 16px;
  color: rgb(152, 120, 120);
  line-height: 30px;
  text-align: justify;
}
.product-info ul li {
  color: rgb(152, 120, 120);
}
.product-info ul li::before {
  content: "-";
  margin-right: 10px;
}
